[submodule "ESP-IDF_Container/spi_testing/components/components/esp-iot-solution"]
	path = ESP-IDF_Container/spi_testing/components/components/esp-iot-solution
	url = https://github.com/espressif/esp-iot-solution.git
